.banner{
    position: relative;
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.4siKIW3oZ4kEo0vkEVQ5hgHaLH&pid=Api&P=0&h=180");
    background-position: center;
    height: 400px;
    color: white;
    background-size: cover;
}